<p>
  <b>Race:</b>
  <%=h @result.race.name %>
</p>

<p>
  <b>Driver:</b>
  <%=h @result.driver.name %>
</p>

<p>
  <b>Ledlap:</b>
  <%=h @result.ledlap %>
</p>

<p>
  <b>Ledmost:</b>
  <%=h @result.ledmost %>
</p>

<p>
  <b>Finish:</b>
  <%=h @result.finish %>
</p>
<p>
  <b>Points:</b>
  <%=h @result.points %>
</p>

<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
